form {
  width: 50%;
  padding: 30px;
  margin: auto;
  font-family: helvetica;
}

form div {
  margin-top: 10px; 
}

#color {
  width: 80px;
}

.checkbox, .radio{
  width: 20px !important;
  height: 20px !important;
}

#age{
  width: 100px;
}

#custom {
  margin-top: 10px;
}

.submit {
  background-color: #000000 !important;
  border: 0px;
  padding: 5px;
}

#date {
  width: 150px;
}